//NAVBAR_______________________________________
.navbar{
    margin-bottom: 0;
    color: set-text-color($main-color) !important;
  // height: 50px;
    background-color: transparent;
    border: none;
    color: white;
    z-index: 100;
    transition: background-color 1s ease 0s;
    font-size: 17px;
    .navbar-brand{
        font-size: 20px;
        color: rgb(35, 196, 153);
    }

    .nav>li>a:focus, .nav>li>a:hover {
        text-decoration: none;
        background-color: transparent !important;
        color: rgb(35, 196, 153);
  }



  }
  
  
  
  .navbar.solid {
      background-color: rgba(62, 70, 82, 0.966);
      transition: background-color 1s ease 0s;
      -webkit-box-shadow: 0 8px 6px -6px #000;
      -moz-box-shadow: 0 8px 6px -6px #000;
      box-shadow: 0 8px 6px -6px #000;
  }
  
  //LANDING WRAP____________________________________
  .petInfo{
      background: url(../img/img1.jpeg) no-repeat center;
      height: 700px;
      // padding: 30px 30px;
      background-size: cover;
      padding-top: 150px;
      overflow: auto;
  
      h1{
          font-size: 65px;
          font-weight: bold;
          color: white;
      }
  
      .headline{
          font-family: 'Rye', cursive;
      }
  
      .container{
          // padding: 30px 30px 30px 30px;
          text-align: left;
          // color: white;
          color: white;  
      }
  
      #header-col{
          background: rgba(19, 19, 19, 0.6);
          // opacity: 0.5;
          padding-bottom: 3%;
          padding-left: 3%;
          // border-radius: 15px;
      }
  
      .bff{
          margin-top: 0px;
          letter-spacing: 5px;
          font-size: 30px;
      }
  
      .main{
          font-size: 15px;
      }
  }
  
  
    
  
  //BUTTONS_____________________________________________________
  .btn-primary{
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 20px;
      font-weight: bold;
      border: none;
  }
  
  //BUTTON______________________________________________________
.btn-donate{
    background-color: transparent;
    color:rgb(35, 196, 153);
    border: 2px solid rgb(35, 196, 153);
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    a{
        color: white !important;
    }
}
  
  //INFO COLUMNS_____________________________________________
  .infoSection{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 40px;
      background: $main-color;
      color: set-text-color($main-color);
      // color: #fff;
  }
  
  //ACCORDION________________________________________________
  .factsSection{
      padding-top: 20px;
      padding-bottom: 70px;
      img{
          width: 100%;
      }
      .ownership{
          font-size: 40px;
          padding-bottom: 30px;
          text-align: center;
      }
      .panel-heading h4{
          color: set-text-color($main-color);
      }
  }
  
  
  //CONTACT_________________________________________
  .connect{
      text-align: center;
      padding-top: 30px;
      padding-bottom: 60px;
      background: $main-color;
      color: set-text-color($main-color);

      #about-connect{
          text-align: left;
      }
      #contact-connect{
        text-align: left;
      }
  }

  #paw-icon{
      height: 7%;
      width: 7%;
  }
  
  #social{
      height: 40px;
      width: 40px;
  }
  
  
  //FOOTER_________________________________________
  .footer{
      text-align: center;
      padding: 30px 0;
      background: darken($main-color, 10%);
      color: set-text-color($main-color);
      
      #footer-links{
        text-align: left;
        padding-left: 40px;
        word-spacing: 3em;
        font-size: 16px;

      }
  }

  .volunteer{
      padding-top: 50px;
      padding-bottom: 50px;
  #volunteer-section{
    border-right: 0.5px solid darkgray;
  }
  img{
      height: 200px;
      width: 240px;
  }
}

.available-pets{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
    h2{
        font-family: 'Just Another Hand', cursive;
        font-size: 80px;
    }
    .pet-scroll img:hover{
        opacity: 0.5;
    }



//CAROUSEL
.carousel-showmanymoveone
{
  .carousel-control
  { 
    width: 4%;
    background-image:none;

    &.left 
    {
      margin-left:15px;
    }

    &.right 
    {
      margin-right:15px;
    }
  }

  .cloneditem-1, 
  .cloneditem-2, 
  .cloneditem-3
  {
    display: none;
  }

  .carousel-inner
  {
    @media all and (min-width: 768px)
    {
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(50%, 0, 0);  
          left: 0;
        }

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-50%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }    
      } 

      > .active.left,
      > .prev
      {
        left: -50%;
      }

      > .active.right,
      > .next
      {
        left:  50%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-1 
      {
        display: block;
      }
    }

    @media all and (min-width: 992px)
    {    
      @media (transform-3d), (-webkit-transform-3d)
      {
        > .item.active.right,
        > .item.next
        { 
          transform: translate3d(25%, 0, 0);  
          left: 0;
        }    

        > .item.active.left,
        > .item.prev
        { 
          transform: translate3d(-25%, 0, 0);
          left: 0;
        }

        > .item.left,
        > .item.prev.right,
        > .item.active
        {
          transform: translate3d(0, 0, 0);
          left: 0;
        }
      }

      > .active.left,
      > .prev
      {
        left: -25%;
      }

      > .active.right,
      > .next
      {
        left:  25%;
      }

      > .left,
      > .prev.right,
      > .active
      {
        left: 0;
      }

      .cloneditem-2, 
      .cloneditem-3
      {
        display: block;
      }
    }    
  }
}

#carousel-icon{
    padding-top: 90px;
}





}
